.btahof {
    margin-top: 10px;
    width: -moz-available;
    width: fill;
    max-width: 1000px;
    display: inline-grid;
    grid-template-columns: repeat(6, auto) [col-end];
    grid-gap: 10px;
    overflow-x: scroll;
    align-items: center;
}

.btatitle {
    display: inline-block;
    border: 3px solid lightblue;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background: teal;
    padding: 10px;
}

.winnertitle {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    transition: box-shadow linear 0.1s, transform linear 0.1s;
    padding: 10px;
}

#hof p {
    margin: 0;
    display: inline-block;
}

.winnertitle.blue {
    color: white;
    background: blue;
}

.winnertitle.red {
    background: red;
    color: white;
}

.winnertitle.yellow {
    background: yellow;
}

.winnertitle.cracked {
    background: white;
}

.winnertitle.lunar {
    background: radial-gradient(circle,
            rgba(0, 0, 0, 1) 0%,
            rgba(56, 18, 56, 1) 47%,
            rgba(62, 0, 68, 1) 100%);
    color: white;
}

/*.winnertitle.final:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: 1;
    animation: slide 1s infinite 3s;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
  }*/
.winnertitle:hover {
    box-shadow: 3px 3px 5px black;
    transform: translateX(-1px);
    transform: translateY(-1px);
}

.winnertitle.final {}

.btatitle.spring {
    background-color: lightgreen;
    color: black;
    border-color: green;
}

.btatitle.summer {
    background-color: lightyellow;
    color: black;
    border-color: lightblue;
}