.btahof {
    margin-top: 10px;
    width: -moz-available;
    width: fill;
    max-width: 1000px;
    display: inline-grid;
    grid-template-columns: repeat(6, auto) [col-end];
    grid-gap: 10px;
    overflow-x: scroll;
    align-items: center;
}

.btatitle {
    display: inline-block;
    border: 3px solid lightblue;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background: teal;
    padding: 10px;
}

.winnertitle {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    transition: box-shadow linear 0.1s, transform linear 0.1s;
    padding: 10px;
}

#hof p {
    margin: 0;
    display: inline-block;
}

.winnertitle.blue {
    background: #27279b;
    background: radial-gradient(circle,
            #27279b 0%,
            #5151df 100%);
    color: white;
}

.winnertitle.red {
    background: #af1d1d;
    background: radial-gradient(circle,
            #af1d1d 0%,
            #c23a3a 100%);
    color: white;
}

.winnertitle.yellow {
    background: #c0c02b;
    background: radial-gradient(circle,
            #c0c02b 0%,
            #a1a11a 100%);
    color: black;
}

.winnertitle.cracked {
    background: #dadada;
    background: radial-gradient(circle,
            #dadada 0%,
            #969696 100%);
    color: black;
}

.winnertitle.lunar {
    background: #381238;
    background: radial-gradient(circle,
            rgba(0, 0, 0, 1) 0%,
            rgba(56, 18, 56, 1) 47%,
            rgba(62, 0, 68, 1) 100%);
    color: white;
}

.btatitle.spring {
    background-color: lightgreen;
    color: black;
    border-color: green;
}

.btatitle.summer {
    background-color: lightyellow;
    color: black;
    border-color: lightblue;
}

.btatitle.autumn {
    background-color: orange;
    color: black;
    border-color: orangered;
}

.btatitle.winter {
    background-color: #cbdef0;
    color: black;
    border-color: #f6faff;
}

.btatitle.summerofarb {
    background-color: #114e1e;
    color: white;
    border-color: #c8b763;
}