@font-face{
    font-family: Renogare;
    src: url('res/Renogare-Regular.otf') format('opentype');
}
/* Colors
Background: #535354
Foreground: #24bab5
Light Foreground: #43f0ea*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #535354;
    color: white;
    font-family: sans-serif;
}

h1,h2,h3,h4,h5{
    margin-top: 15px;
    font-family: 'Renogare', 'Patua One', sans-serif;
}
p,li {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

nav {
    position: sticky;
    height: 40px;
    top: 0;
    right: 0;
    left: auto;
    text-align: right;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 3px;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 8px 0px #000000;
    transition: box-shadow .3s;
    height: 26px;
    line-height: 26px;
    margin-top: 7px;
}
nav a:hover{
    box-shadow: 4px 4px 10px 0px black;
}

img.btalogo {
    width: 1374px;
}
@media only screen and (max-width: 1400px){
    img.btalogo {
        width: 800px;
    }
}
@media only screen and (max-width: 900px){
    img.btalogo {
        width: 400px;
    }
    iframe[src*=youtube]{
        width: 300px;
        height: 168.75px;
    }
}
@media only screen and (max-width: 450px){
    img.btalogo {
        width: 300px;
    }
}

section {
    padding: 20px;
    width: calc(100%-40px);
    text-align: center;
    align-content: center;
}
section a {
    color: white;
}
section.blue-info {
    background-color: #24bab5;
    color: black;
}
section.lblue-info{
    background-color: #43f0ea;
    color: black;
}
section.blue-info,section.lblue-info a {
    color: black;
}
section.darkgray-info{
    background-color: #434344;
    color: white;
}
#date{
    text-shadow:
            0 0 21px #fff,
            0 0 42px #eee,
            0 0 82px #ddd,
            0 0 92px #ccc,
            0 0 102px #ccc;
}
section.fame{
    display: grid;
    grid-template-columns: repeat(auto, 5);
    grid-template-rows: auto auto auto;
}
section.fame h3{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
}
section.fame #bluediv{
    grid-column: 2;
    grid-row: 1;
}
section.fame #reddiv{
    grid-column: 3;
    grid-row: 1;
}
section.fame #yellowdiv{
    grid-column: 4;
    grid-row: 1;
}
section.fame #crackeddiv{
    grid-column: 5;
    grid-row: 1;
}
section.fame #dec21{
    grid-column: 0;
    grid-row: 2;
}
section.fame #oct21{
    grid-column: 0;
    grid-row: 3;
}
section.fame #alpha{
    grid-column: 0;
    grid-row: 4;
}
section.fame #dec21bluechmp{
    grid-column: 2;
    grid-row: 2;
}
section.fame #dec21redchmp{
    grid-column: 3;
    grid-row: 2;
}
section.fame #dec21ylwchmp{
    grid-column: 4;
    grid-row: 2;
}
section.fame #dec21crkdchmp{
    grid-column: 5;
    grid-row: 2;
}
section.fame #oct21bluechmp{
    grid-column: 2;
    grid-row: 3;
}
section.fame #oct21redchmp{
    grid-column: 3;
    grid-row: 3;
}
section.fame #oct21ylwchmp{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 3;
}
section.fame #alphachmp{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 4;
}
.champcard{
    padding: 20px;
    background-color: #43f0ea;
    border-radius: 5px;
    margin: 5px;
}